.hero{
    background-image:url("./assets/landing.jpg");
    background-color: #F15A29;
    opacity:1;
    background-position: center;
    padding-bottom: 150px;
    padding-top:80px;
    text-align: center;
    color: white;
}
.hero span{
    display:flex;
    position:relative;
    right:-600px;
}
.hero p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    color:white;
}
nav ul li{
list-style:none;
}
nav div{
    display: flex;
    justify-content: stretch;
}
.inline{
    display:inline-table;
}
#happyhour {
    background-color: rgb(238, 243, 248);
width: 400px;
height: 100px;
display:flex;
align-items: center;
justify-content: center;
color: black;
}
#partytime {
    background-color:#F15A29;
    width: 400px;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    

}
#lunch{
    background-image: url("./assets/lunch.jpg");
    width: 400px;
    height:200px;
    background-size:contain;
    opacity:0.5;
    display:flex;
    align-items: center;
    justify-content: center;
}
#dinner {
    background-image: url("./assets/dinner.jpg");
    width:400px;
    height:200px;
    background-size: contain;
    display:flex;
    align-items: center;
    justify-content: center;

}
#breakfast {
    background-image: url("./assets/breakfast.jpg");
    width:400px;
    height:200px;
    background-size: contain;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    margin-left: -40px;
    padding-top:  -30px;
    margin-top:-17px;
    color:white;
    font:x-large;
    }
.fastfood{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-left: 100px;
    width: 65%;

}
#content{
    text-align: center;
    margin-left: 50px;
    display:inline-block;
}
.img{
    font-size: 0px;
    box-shadow: 10px 10px 6px grey,-10px -10px 6px grey;
    border-radius: 5px;
    border: 20px solid whitesmoke;
    width:50%;
    margin:50px;

}
.Drinks{
    display:flex;
    justify-content: center;
     align-items: center;
     margin:50px;
     width:65%;
     
     
}
.content{
    text-align: center;
    justify-content: center;
    display:flex;
    display:inline-block;
    width:50%;
}
#img{ 
    float:right;
    font-size: 0px;
    display: flex;
    box-shadow: 10px 10px 6px grey,-10px -10px 6px grey;
    border-radius: 5px;
    border: 20px solid whitesmoke;
    width:50%;
    margin:50px;
    margin-right:-100px;
}
.ourmenu{
    background: url("../assets/foodsBg.jpg") no-repeat center ;
    background-size: cover;
    padding: 30px;

}
.container_menu{
    margin: 10px 50px;
    background-color: white;

    
}
/*Style Navigation bar*/
.navbar{    
    background-color: gray;
    display: flex;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    padding: 14px 16px;
    width: 100%;
    font-size: 17px;
}
a:hover{
    background-color: white;
    color: #F15A29;
    font-size: 19px;
}
.row{
    display: flex;
    color: #F15A29;
    justify-content: space-between;
    padding-top: 80px;
    margin-right: 150px;
    margin-left: 150px;
} 
.row div{
    text-align: center;
}
.com_sec{ 
    column-count: 2;
    border-radius:2px;
    border:5px solid whitesmoke;
    box-shadow:5px 5px 6px grey,-5px -5px 6px grey ;
    width: 50%;
     margin-left: 380px;
     padding:50px;
     margin-top: 30px;
}
#about{
    border:right;
}
.com_sec h3{
    color:#F15A29;
}
#footer{
    background-image: url(./assets/subscribe.jpg) ;
    background-position: cover;
    padding-top:80px;
    padding-bottom:100px;
margin-top: 50px;
}
#footer>h1{
    color:white;
    font:20px;
    text-align: center;
}
footer {
    background-color:#F15A29 ;
    padding-bottom: 100px;
    padding-top: 50px;
    padding:30px;
    text-align: center;
    color: white;
}
.email {
    margin:50px;
    background-color: azure;
    opacity: 0.4;
    width: 200px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}
.subscribe{
    margin:50px;
    background:#F15A29;
    width: 200px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:800px;
    padding-top: -50px;
}

